@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");


    @mixin TitlePrimary {
        font-family: 'RobotoCondensed','Trebuchet MS','Helvetica,Arial','sans-serif';
        font-weight: bold;
    }

    @mixin TitleSecondary {
        font-family: 'RobotoCondensed','Trebuchet MS','Helvetica,Arial','sans-serif';
        font-weight: lighter;
    } 

    @mixin Body1 {
      font-family: 'RobotoCondensed','Trebuchet MS','Helvetica,Arial','sans-serif';
      font-weight: 100;
  } 


    body, h1, h2, h3, h4, h5, h6, p, a, div, input {
        font-family: 'Comic Neue', cursive;
    
    }

    .hx1 {
      font-size: 4.5rem;
    }
    .hx2 {
      font-size: 6rem;
    }
    
    h1 {
      font-size: 5rem;
      @include TitlePrimary();
    }
    
    h2 {
      font-size: 3.5rem;
      @include TitlePrimary();
    }
    
    h3 {
      font-size: 2rem;
      @include TitleSecondary();
    }
    h4 {
      font-size: 2.5rem;
      @include TitleSecondary();
    }
    h5 {
      font-size: 1.25rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    
    p {
      font-size: 1rem;
    }
    
    a {
      font-size: 1.1rem;
    }
    

