  @import './Variables.scss';

  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




    @mixin Logo {
      background-color: $MarvelRed;
      color: white;
      width: fit-content;
      margin: 0 auto;
      letter-spacing: -0.5rem;
      padding: 0rem 1.2rem 0rem 0.6rem;
    }

    @mixin Title1 {
        font-family: 'Roboto','Trebuchet MS','Helvetica,Arial','sans-serif';
        font-weight: 800;
    }

    @mixin Title2 {
        font-family: 'Roboto Condensed','Trebuchet MS','Helvetica,Arial','sans-serif';
        font-weight: 400;
        background-color: $tertiary3;
        background-image: linear-gradient(45deg, $blue3 , $blue2, $primary2, $primary3);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    } 
    @mixin Title3 {
      font-family: 'Roboto','Trebuchet MS','Helvetica,Arial','sans-serif';
      font-weight: 400;
      background-color: $tertiary5;
      background-image: linear-gradient(45deg, $tertiary4 , $tertiary2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
  } 

    @mixin Title4 {
      font-family: 'Roboto','Trebuchet MS','Helvetica,Arial','sans-serif';
      font-weight: 300;
    } 

    @mixin Body1 {
      font-family: 'Roboto','Trebuchet MS','Helvetica,Arial','sans-serif';
      font-weight: 100;
  } 


    body, h1, h2, h3, h4, h5, h6, p, a, div, input {
      font-family: 'Roboto','Trebuchet MS','Helvetica,Arial','sans-serif';
    
    }

    
    h1 {
      font-size: 7rem;
      @include Title1();
    }
    
    h2 {
      font-size: 3.5rem;
      @include Title2();
    }
    
    h3 {
      font-size: 2rem;
      @include Title3();
    }
    h4 {
      font-size: 2.5rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    
    p {
      font-family: 'Comic Neue', cursive;
      font-size: 1rem;
    }
    
    a {
      font-size: 1.1rem;
    }
    

