$MarvelRed: #e62429;
$MarvelBlack: #202020;

// Color Theme //
$primary1: #FD8285;
$primary2: #F75357;
$primary3: #E62429;
$primary4: #B70C10;
$primary5: #8A0004;
$primaryWhite: #ebd0d1;
$primaryBlack: #2a0304;

$secondary1: #DA70AE;
$secondary2: #C6428F;
$secondary3: #B81D78;
$secondary4: #93095A;
$secondary5: #6F0041;
$secondaryWhite: #f0d8e6;
$secondaryBlack: #240116;

$tertiary1: #FFBA83;
$tertiary2: #F99D53;
$tertiary3: #E87B24;
$tertiary4: #B9590C;
$tertiary5: #8C3E00;  
$tertiaryWhite: #f6ece2;
$tertiaryBlack: #271200;

$gold1: #FFECC6;
$gold2: #CCAF76;
$gold3: #A08143;
$gold4: #795A1E;
$gold5: #452F02;  
$goldWhite: #eae6dd;
$goldBlack: #1d1301;

$complementary1: #77DD72;
$complementary2: #4ACA43;
$complementary3: #25BC1D;
$complementary4: #11960A;
$complementary5: #067100;
$complementaryWhite: #cbebca;
$complementaryBlack: #022200;

$blue1: #5874C8;
$blue2: #1F48C2;
$blue3: #0B2E98;
$blue4: #062171;
$blue5: #021040;
$blueWhite: #cfd4e4;
$blueBlack: #020d2c;