@import '../../App.scss';

.NavBody {
    min-height: fit-content;
    background-color: $MarvelBlack;

    .TitleDiv {
        // background-color: blue;
        width: 100%;

        .H1 {
            width: fit-content;
            margin: 0 auto;
        }

        .H2 {
            width: fit-content;
            margin: 0 auto;
        }

        h1 {
            @include Logo();
            font-size: 6rem;
        }

        h2 {
            font-size: 2.65rem;
            @include iphone5SE {font-size: 2.5rem;};
        }
    }

    .ButtonsAndLinks {
        display: flex;
        // background-color: aqua;
        margin-top: 2rem;
        width: 100%;

        @include Res900 {
            // margin-top: 3rem;
            display: block;
            flex-wrap: wrap;
            text-align: center;
        };


        button {
            @include Button1(1rem);

            @include Res500 {
                @include Button1(0.9rem);
            }
        }

        ul {
            // background-color: green;
            display: flex;
            margin: 0 0 0 auto;
            @include ButtonNav;

            @include Res900 {
                justify-content: center;
            };

            @include iphone12Pro {
                display: block;
            };
        }
    }
}