@import '../../App.scss';

.NavBody {
    background-color: rgb(47, 47, 51);
    h1 {
        color: rgb(157, 66, 154);
    }

    .ButtonsAndLinks {
        display: flex;
        background-color: aqua;

        button {
            background-color: rgb(168, 27, 144);
            cursor: pointer;
        }
    
        ul {
            background-color: green;
            display: flex;
            margin: 0 0 0 auto;

            li {
                background-color: pink;
                border: solid black 1px;
            }
            li:hover {
                background-color: rgb(192, 192, 215);
            }
        }
    }


}