@import "../App.scss";

.ComparatorBody {
  // background-color: $secondary5;
  // background-image: linear-gradient(90deg, $blueBlack, $blue3, $secondary3, white, $secondary3, $primary3, $primaryBlack);
  background-image: linear-gradient(90deg, $gold3, white, $gold3);

  h3 {
    text-align: center;
    font-size: 3rem;
    // height: 3rem;
  }

  h4 {
    width: 100%;
    text-align: left;
    font-size: 2.2rem;
    font-weight: 300;
  }

  .ComparatorContent {
    display: flex;

    .Hero1, .Hero2 {
      width: 50%;
    }

    .Hero1 {
      background-color: $blue3;
      background-image: linear-gradient($blue3, $blue5, $blueBlack, black);
      margin: 0 auto 0 0;
    }

    .Hero2 {
      background-color: $primary3;
      background-image: linear-gradient($primary3, $primary5, $primaryBlack, black);
      margin: 0 0 0 auto;
    }

    .ListOfNames1 , .ListOfNames2 {
        // background-color: rgba(116, 6, 116, 0.589);
        height: 3rem;
        overflow-y: auto;
        position: relative;
        margin: 0 auto;
        z-index: 2;

        @include Res500 {height: 4rem;};

        button {
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          width: 33.33%;
          @include Res500 {width: 100%};
        }
    }

    .ListOfNames1 {
      // background-color: $blue5;
      button {
        background-color: $blue5;
        color: $blueWhite;
        border: 1px solid $blueBlack;
      }
      button:hover {
        background-color: $blue1;
        color: $blueBlack;
      }
      button:active {
        background-color: $blueWhite;
        color: $blue3;
      }
    }

    .ListOfNames2 {
      // background-color: $primary5;
      button  {
        background-color: $primary5;
        color: $primaryWhite;
        border: 1px solid $primaryBlack;
      }
      button:hover {
        background-color: $primary1;
        color: $primary5;
      }
      button:active {
        background-color: $primaryWhite;
        color: $primary3;
      }
    }

    .CharacterData {

        .CharacterInfo {

          .Name1, .Name2 {
            // background-color: rgba(82, 4, 46, 0.591);
            // color: rgba(255, 255, 255, 0.781);
            width: 100%;
            padding: 1rem 0;
            text-align: center;
            position: relative;
            z-index: 2;

            h4 {
              text-align: center;
              font-size: 3.3rem;
              font-weight: 300;
              text-shadow: 0px 0px 3px black;

              @include Res500 {font-size: 1.5rem;};
            }
          }
          
          .Name1 {
            // background-color: $blue5;
            h4 {
              color: $blue1;
            }
          }

          .Name2 {
            // background-color: $primary5;
            h4 {
              color: $primary1;
            }
          }

          .FullName1, .FullName2 {
            background-color: white;

            h4 {
              text-align: center;
              font-size: 1.8rem;
              @include Res500 {font-size: 1.3rem;};
            }
          }

          .FullName1 {
            h4 {
              color: $blue4;
            }
          }

          .FullName2 {
            h4 {
              color: $primary4;
            }
          }

          .InfoType, .InfoValue {
            color: white;
            width: 50%;
            margin: 0.5rem 0;
            border-bottom: 1px solid rgba(173, 216, 230, 0.243);
            @include Res500{
              font-size: 1rem;
            };
          }

          .InfoType {
            font-weight: 300;
          }

          .InfoValue {
            text-align: right;
            font-weight: 100;
            letter-spacing: 0.05rem;
            @include Res900{
              font-size: 1.1rem;
            };
            @include Res700{
              font-size: 1rem;
            };
            @include Res500{
              // letter-spacing: 0.01rem;
            };
          }

          .Stats, .Bio, .Intel {
            display: flex;
            flex-wrap: wrap;
            padding: 1.5rem 1.5rem 0 1.5rem;
            @include Res900{padding: 1.7rem 1rem 0 1rem;};
            @include Res700{padding: 1.7rem 1rem 0 1rem;};
            @include Res500{padding: 1.7rem 0.8rem 0 0.8rem;};

            h4 {
              color: white;
              margin-bottom: 0.5rem;
              @include Res700{
                font-size: 1.5rem;
              };
            }
            h5 {
              @include Res700{font-size: 1.1rem;};
              @include Res500{font-size: 1rem;};
            }
          }

          .Intel {
            h5 {
                
                font-size: 1rem;
                text-align: left;
                width: 100%;
                @include Res900{
                  font-size: 1rem;
                };
                @include iphoneSE{
                  font-size: 0.8rem;
                };
            }

            .InfoType {
              padding-top: 1rem;
              border: none;
              margin: 0;
            }
            .InfoValue {
              padding-bottom: 1rem;
            }

          }
          
        }

        .ImageBackground {
          background-image: radial-gradient(circle,rgb(74, 8, 56), rgb(0, 0, 0));
          border: solid 1px rgb(44, 42, 42);
          opacity: 0.85;
          position: relative;
          z-index: 0;

          .ImageContainer {
            width: fit-content;
            margin: 0 auto;
            border: solid 0.7rem white;
            box-shadow: 0px 0px 12px 4px #000000;
            
            img {
                max-height: 30vh; 
                @include Res900 {max-height: 30vh;};
                @include Res700 {max-height: 28vh;};
                @include Res500 {max-height: 25vh;};
                @include iphone12Pro {max-height: 25vh;};
                @include iphoneSE {max-height: 25vh;};
                @include iphone5SE {max-height: 30vh;};
            }
          }
        }
    }

    .CharSearchForm {
      background-color: $gold4;
      width: 100%;
      margin: 0 auto;
      // box-shadow: inset 0 0 1px 0.5px black;

      .SearchInputAndSubmit {
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        input {
          background-color: $tertiaryWhite;
        }

        .Input {
          width: 80%;
          border-radius: 3px;
          @include Res900 {width: 80%; margin: 0 auto};
          @include Res700 {width: 100%; margin: 0 auto};
          @include Res500 {width: 100%; margin: 0 auto};
          @include iphone12Pro {width: 100%; margin: 0 auto};
          @include iphoneSE {width: 100%; margin: 0 auto};
          @include iphone5SE {width: 100%; margin: 0 auto};
        }

        .SearchSubmit {
          background-color: $tertiaryWhite;
          color: $tertiaryBlack;
          width: 18%;
          border:1px solid black;
          border-radius: 3px;
          @include Res900 {width: 17%; margin: 0 auto};
          @include Res700 {width: 99%; margin: 0 auto};
          @include Res500 {width: 99%; margin: 0 auto};
          @include iphone12Pro {width: 99%; margin: 0 auto};
          @include iphoneSE {width: 99%; margin: 0 auto};
          @include iphone5SE {width: 99%; margin: 0 auto};
        }
      }
    }
  }
}