@import "../App.scss";

.ComparatorBody {
  // background-color: $secondary5;
  // background-image: linear-gradient(90deg, $blueBlack, $blue3, $secondary3, white, $secondary3, $primary3, $primaryBlack);
  background-image: linear-gradient(90deg, $gold3, white, rgb(160, 129, 67));


  h3 {
    text-align: center;
    font-size: 3rem;
    // height: 3rem;
    // font-weight: 300;
  }

  h4 {
    width: 100%;
    text-align: left;
    font-size: 2.2rem;
    font-weight: 300;
  }

  .ComparatorContent {
    display: flex;

    .Hero1, .Hero2 {
      width: 50%;
    }

    .Hero1 {
      background-color: $blue3;
      background-image: linear-gradient($blue3, $blue5, $blueBlack, black);
      margin: 0 auto 0 0;
    }

    .Hero2 {
      background-color: $primary3;
      background-image: linear-gradient($primary3, $primary5, $primaryBlack, black);
      margin: 0 0 0 auto;
    }

    .ListOfNames1 , .ListOfNames2 {
        // background-color: rgba(116, 6, 116, 0.589);
        // margin-top: 5px;
        height: 3rem;
        overflow-y: auto;
        position: relative;
        margin: 0 auto;
        z-index: 2;

        button {
          text-align: center;
          text-decoration: none;
          // display: inline-block;
          cursor: pointer;
          width: 33.33%;
        }
    }

    .ListOfNames1 {
      // background-color: $blue5;
      button {
        background-color: $blue5;
        color: $blueWhite;
        border: 1px solid $blueBlack;
      }
      button:hover {
        background-color: $blue1;
        color: $blueBlack;
      }
      button:active {
        background-color: $blueWhite;
        color: $blue3;
      }
    }

    .ListOfNames2 {
      // background-color: $primary5;
      button  {
        background-color: $primary5;
        color: $primaryWhite;
        border: 1px solid $primaryBlack;
      }
      button:hover {
        background-color: $primary1;
        color: $primary5;
      }
      button:active {
        background-color: $primaryWhite;
        color: $primary3;
      }
    }

    .CharacterData {

        .CharacterInfo {

          .Name1, .Name2 {
            // background-color: rgba(82, 4, 46, 0.591);
            // color: rgba(255, 255, 255, 0.781);
            width: 100%;
            padding: 1rem 0;
            text-align: center;
            position: relative;
            z-index: 2;

            h4 {
              text-align: center;
              font-size: 3.3rem;
              font-weight: 300;
              text-shadow: 0px 0px 3px black;
            }
          }
          
          .Name1 {
            // background-color: $blue5;
            h4 {
              color: $blue1;
            }
          }

          .Name2 {
            // background-color: $primary5;
            h4 {
              color: $primary1;
            }
          }

          .FullName1, .FullName2 {
            background-color: white;

            h4 {
              text-align: center;
              font-size: 1.8rem;
            }
          }

          .FullName1 {
            h4 {
              width: 100%;
              color: $blue4;
            }
          }

          .FullName2 {
            h4 {
              width: 100%;
              color: $primary4;
            }
          }

          .InfoType, .InfoValue {
            color: white;
            width: 50%;
            margin: 0.5rem 0;
            border-bottom: 1px solid rgba(173, 216, 230, 0.243);
          }

          .InfoType {
            font-weight: 300;
          }

          .InfoValue {
            text-align: right;
            font-weight: 100;
            letter-spacing: 0.05rem;
          }

          .Stats, .Bio, .Intel {
            display: flex;
            flex-wrap: wrap;
            padding: 1.5rem 1.5rem 0 1.5rem;

            h4 {
              color: white;
              margin-bottom: 0.5rem;
            }
          }
        }

        .ImageBackground {
          background-image: radial-gradient(circle,rgb(74, 8, 56), rgb(0, 0, 0));
          border: solid 1px rgb(44, 42, 42);
          opacity: 0.85;
          position: relative;
          z-index: 1;

          .ImageContainer {
            width: fit-content;
            margin: 0 auto;
            border: solid 0.7rem white;
            box-shadow: 0px 0px 12px 4px #000000;
            
            img {
                max-height: 30vh;
            }
          }
        }
    }

    .CharSearchForm {
      width: 100%;
      margin: 0 auto;

      .SearchInputAndSubmit {
        width: 100%;
        margin: 0 auto;

        .Input {
          width: 80%;
        }

        .SearchSubmit {
          width: 18%;
        }
      }
    }
  }
}
