@import '../App.scss';

.SingleCharacterBody {
    background-color: $gold3;
    background-image: linear-gradient(90deg, $gold3, white, $gold3);

        h3 {
            font-size: 3rem;
            text-align: center;
            font-size: 3rem;
            opacity: 0;
            // height: 3rem;
        }

        h4 {
          width: 100%;
          text-align: left;
          font-size: 2.2rem;
          font-weight: 300;
        }

      .Hero1 {
        background-color: $secondary3;
        background-image: linear-gradient($secondary3, $secondary5, $secondaryBlack, black);
      }
  
      .ListOfNames {
          // background-color: $secondary5;
          color: $secondaryWhite;
          height: 3rem;
          overflow-y: auto;
          position: relative;
          margin: 0 auto;
          z-index: 2;
          border: 1px solid $secondaryBlack;
          @include Res500 {height: 4rem;};

          button {
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            width: 20%;
            background-color: $secondary5;
            color: $secondaryWhite;
            border: 1px solid $secondaryBlack;
            @include Res500 {width: 50%};
          }
          button:hover {
            background-color: $secondary1;
            color: $secondaryBlack;
          }
          button:active {
            background-color: $secondaryWhite;
            color: $secondary3;
          }

          
      }
      
  
      .CharacterData {

          .CharacterInfo {

            .Name {
              background-color: rgb(160, 129, 67);
              background-image: linear-gradient(90deg, rgb(160, 129, 67) , white, rgb(160, 129, 67));
              color: rgb(78, 0, 78);
              padding: 1rem 0;
              width: 100%;
              text-align: center;
              position: relative;
              z-index: 0;

              h4 {
                text-align: center;
                font-size: 3.3rem;
                font-weight: 300;
                color: $secondary5;
                // text-shadow: 0px 0px 3px black;
              }
            }
  
            .FullName {
              background-color: white;
              color: purple;
              text-align: center;
              height: 2rem;
              font-size: 2rem;

              h4 {
                text-align: center;
                font-size: 1.8rem;
              }
            }
  
            .InfoType, .InfoValue {
              color: white;
              width: 50%;
              margin: 0.5rem 0;
              border-bottom: 1px solid rgba(173, 216, 230, 0.243);
              font-weight: lighter;
              @include Res500{
                // margin-bottom: 1.7rem;
              };
            }
  
            .InfoType {
              font-weight: 300;
              @include Res500{
                font-weight: 400;
                // font-size: 1.5rem;
              };
            }
  
            .InfoValue {
              text-align: right;
              font-weight: 100;
              letter-spacing: 0.05rem;
              text-align: right;
              @include Res500{
                font-weight: 200;
                font-size: 1rem;
              };
            }
  
            .Stats, .Bio, .Intel {
              display: flex;
              flex-wrap: wrap;
              padding: 1.5rem 1.5rem 0 1.5rem;
              @include Res500{
                padding: 1.7rem 0.8rem 0 0.8rem;
                // word-break: break-all;
              };

              h4 {
                color: white;
                margin-bottom: 0.5rem;
                @include Res700{
                  font-size: 1.8rem;
                };
              }
              h5 {
                @include iphone12Pro{font-size: 1.1rem;};
              }
            }

            .Intel {
              h5 {
                  
                  font-size: 1rem;
                  text-align: left;
                  width: 100%;
                  @include Res900{font-size: 1rem;};
              }
  
              .InfoType {
                padding-top: 1rem;
                border: none;
                margin: 0;
              }

              .InfoValue {
                padding-bottom: 1rem;
              }
            }

          }
          
          .ImageBackground {
            // background-color: rgb(57, 41, 23);
            background-image: radial-gradient(circle,rgb(74, 8, 56), rgb(0, 0, 0));
            border: solid 1px rgb(44, 42, 42);
            opacity: 0.85;
            position: relative;
            z-index: 1;
  
            .ImageContainer {
              width: fit-content;
              margin: 0 auto;
              border: solid 0.7rem white;
              box-shadow: 0px 0px 12px 4px #000000;

              img {
                  max-height: 30vh;
              }
            }



          }
      }
  
      .CharSearchForm {
        background-color: $secondary5;
        width: 100%;
        margin: 0 auto;
  
        .SearchInputAndSubmit {
          // background-color: green;
          width: auto;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;

          input {
            background-color: $tertiaryWhite;
          }
  
          .Input {
            width: 80%;
            border-radius: 3px;
            @include Res900 {width: 81%; margin: 0 auto};
            @include Res700 {width: 99%; margin: 0 auto};
            @include Res500 {width: 97%; margin: 0 auto};
            @include iphone12Pro {width: 97%; margin: 0 auto};
            @include iphoneSE {width: 97%; margin: 0 auto};
            @include iphone5SE {width: 97%; margin: 0 auto};
          }
  
          .SearchSubmit {
            background-color: $tertiaryWhite;
            color: $tertiaryBlack;
            width: 19%;
            border:1px solid black;
            border-radius: 3px;
            @include Res900 {width: 17%; margin: 0 auto};
            @include Res700 {width: 99%; margin: 0 auto};
            @include Res500 {width: 99%; margin: 0 auto};
            @include iphone12Pro {width: 99%; margin: 0 auto};
            @include iphoneSE {width: 99%; margin: 0 auto};
            @include iphone5SE {width: 99%; margin: 0 auto};
          }
        }
      }
  }