@import "../App.scss";

.CharacterListComponent {
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: $MarvelBlack;
  top:0px;
  width: 100%;
  z-index: 10;
  position: fixed;
  animation: dropDownPage 400ms ease-in-out forwards;
  transform-origin: top center;
  
  @keyframes dropDownPage {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }

  .CharacterListHeader {
    // background-color: blue;
    // width: 100%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.443);
    padding: 1rem 0 0.3rem 0;
    margin: 0 auto;

    button {
      @include Button2(1.2rem);
      float: right;
      margin-right: 2.2rem;
      @include Res900 {@include Button2(1rem);};
      @include Res500 {
        @include Button2(0.9rem);
        float:none;
        margin: 0 5%;
      };

    }

    h3 {
      text-align: center;
      padding: 3rem 0 1.5rem 0;
      font-size: 3rem;
      @include Res700 {font-size: 2.6rem;};
      @include Res500 {
        font-size: 2rem;
        padding: 1.5rem 0 0.5rem 0;
      };
    }
  }


  .CharacterListBody {
    background-image: linear-gradient(0deg, $complementary3, $MarvelBlack);
    padding-top: 1rem;
    overflow-y: scroll;
    max-height: 60vh;
    @include Res900 {max-height: 70vh;};
    @include Res700 {max-height: 83vh;};
    @include Res500 {max-height: 85vh;};
    @include iphoneSE {max-height: 80vh;};
    @include iphone5SE {max-height: 72vh;};

    ul {
      background-color: $MarvelBlack;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(4, 1fr);
      padding: 0.5rem;
      margin: 0 10px;
      @include Res900 {grid-template-columns: repeat(3, 1fr);};
      @include iphone12Pro {grid-template-columns: repeat(2, 1fr);};

      li {
        background-color: white;
        color: $MarvelBlack;
        padding: 1rem;
        border-radius: 2px;
        animation: growDownListItems 800ms ease-in-out forwards;
        transform-origin: bottom center;
        box-shadow: 0px 0px 13px 4px #000000;
        @include Res700 {
          padding: 0.8rem;
          font-size: 0.8rem;
        };
        @include Res500 {
          padding: 0.6rem;
        };

        @keyframes growDownListItems {
          0% {
            transform: rotateX(-90deg);
            // opacity: 0;
          }
          30% {
            transform: rotateX(-90deg);
            // opacity: 0;
          }
          70% {
            transform: rotateX(30deg);
            // opacity: 0;
          }
          80% {
            transform: rotateX(0deg);
            // opacity: 0;
          }
          90% {
            transform: rotateX(-10deg);
            // opacity: 0;
          }
          100% {
            transform: rotateX(0deg);
            // opacity: 1;
          }
        }
      }
    }
  }

  .CharacterListFooter {
    background-color: $complementary3;
    height: 1rem;
  }
}
