@import "../App.scss";

.CharacterListBody {
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: $MarvelBlack;
  top:0px;
  width: 100%;
  z-index: 10;
  position: fixed;
  animation: dropDownPage 300ms ease-in-out forwards;
  transform-origin: top center;

  
  @keyframes dropDownPage {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }

  h3 {
    text-align: center;
  }

  button {
    background-color: rgb(225, 222, 218);
    color: black;
    margin: 0 1px;
    border: solid 1px rgba(110, 92, 57, 0.449);
    height: 2rem;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}
  button:hover {
      background-color: #202020;
      color: white;
  }

  .ListContainer {
    overflow-y: scroll;
    max-height: 60vh;


    ul {
      background-color: $MarvelBlack;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(4, 1fr);
      padding: 0.5rem;
      margin: 0 10px;


      li {
        background-color: white;
        color: $MarvelBlack;
        padding: 1rem;
        border-radius: 2px;
        animation: growDownListItems 300ms 300ms ease-in-out forwards;
        transform-origin: bottom center;
        box-shadow: 0px 0px 13px 4px #000000;

        @keyframes growDownListItems {
          0% {
            transform: rotateX(-90deg);
            opacity: 0;
          }
          70% {
            transform: rotateX(20deg);
          }
          100% {
            transform: rotateX(0deg);
            opacity: 1;
          }
        }

      }
    }
  }
}
