@import "../App.scss";

.InstructionsBody {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1.5rem;
  text-align: center;
  width: 30rem;
  left: calc(50% - 15rem);
  top: 20vh;
  z-index: 10;
  position: fixed;
  
  @include Res900 {
    width: 90%;
    left: 2.5%;
  };
  @include Res700 {
    width: 80%;
    left: 7.5%;
    top: 15vh;
  };
  @include Res700 {
    width: 75%;
    left: 7.5%;
    top: 20vh;
  };

  animation: modalFadeIn 600ms ease-in-out forwards;

  @keyframes modalFadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  button {
    @include Button2(1.35rem);
}

  h3 {
    margin: 1rem;
    padding: 0.5rem;
    border-top: solid 1px rgb(45, 39, 6);
    border-bottom: solid 1px black;
    @include Res500 {font-size: 1.5rem;};
  }

  .ParagraphDiv {
    margin-top: 2rem;

    p {
      text-align: left;
      margin: 0.7rem;
      // text-decoration: ;
      @include Res700 {font-size: 0.9rem;};
      @include Res500 {font-size: 0.8rem;};
    }
  }

}
