@import './styles/Type.scss' ;
@import './styles/Variables.scss';
@import './styles/Mixins.scss';
@import './styles/Media.scss';


html {
    background-color: rgb(0, 0, 0);
    font-size: 14px;

    body {
        background-color: rgb(0, 0, 0);

    }
}